<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width"/>
    <link href="css/style.css" rel="stylesheet">
    <link href="bower_components/bootstrap-386/css/bootstrap.css" rel="stylesheet">
    <link href="bower_components/bootstrap-386/css/bootstrap-theme.css" rel="stylesheet">
    <title>Chat client</title>
</head>
<body ng-app="websocket-web">

    <div class="container" ng-controller="ChatController as ChatCtrl">
        <h1>Chat demo</h1>
        <input type="text" ng-model="nickname" placeholder="Enter nickname" />
        <button ng-click="connect()" ng-disabled="connected || !nickname.length > 0" class="btn btn-primary">Connect</button>
        <button ng-click="disconnect()" ng-disabled="!connected" class="btn">Disconnect</button>

        <p class="lead">Connected: {{ connected }}</p>

        <h3>Messages:</h3>
        <div class="lead container-scroll">
            <ul ng-repeat="message in messages track by $index">
                <span>[{{ message.dateSent | date:'HH:mm' }}]
                    <{{ message.nickname }}>
                    {{ message.content }}</span>
            </ul>
        </div>

        <div>
            <label>Enter messsage</label><input type="text" ng-model="message" ng-keypress="($event.which === 13)?send():0" />
            <button class="btn btn-success" ng-show="connected" ng-click="send();">Send</button>
        </div>
    </div>



    <!-- Include js scripts -->
    <script src="./bower_components/bootstrap-386/js/bootstrap.min.js"></script>
    <!--<script src="./bower_components/bootstrap-386/fonts/glyphicons-halflings-regular.svg"></script>-->
    <script src="./bower_components/bootstrap-386/fonts/glyphicons-halflings-regular.ttf"></script>
    <!--<script src="./bower_components/bootstrap-386/css/fonts/Fixedsys500c.svg"></script>-->
    <script src="./bower_components/bootstrap-386/css/fonts/Fixedsys500c.ttf"></script>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="./bower_components/sockjs/sockjs.min.js"></script>
    <script src="./bower_components/stomp-websocket/lib/stomp.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/ChatController.js"></script>
    <script src="js/services/ChatService.js"></script>

</body>
</html>